<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/simplechat.css' />
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/javascripts/simplechat.js"></script>
        <script type="text/javascript">
            $(function () {
                $("#myText").on("keyup", function(e){
                    if (e.which == 13){
                        var text = $(this).val();
                        if (text !== ""){
                            chatApp.sendCilentMsgToServer (text);
//                            chatApp.insertChat("me", text);
                            $(this).val('');
                        }
                    }
                });
            });
        </script>
    </head>
    <body>
        <div class="col-sm-3 col-sm-offset-4 frame">
            <ul></ul>
            <div>
                <div class="msj-rta macro" style="margin:auto">
                    <div class="text text-r" style="background:whitesmoke !important">
                        <input class="mytext" name='msg' id='myText' placeholder="Type a message"/>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
