<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="../lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $(()=>{
            $(":file").on("change", ()=>{
                var file = $(":file"); /*파일객체 추출*/
            });

            $(":button").on("click", ()=>{
                $.ajax
            });
        });
    </script>
</head>
<body>
        <h1>{{title}}</h1>
        <input type="file" id="file" name="file"/>
        <input type="button" id="upload" name="upload" value="업로드"/>
        <!-- 음악파일 리스트 표시-->
            {{#each songList}}
                <div>
                    <legend><h4>{{title}}</h4></legend>
                    <audio controls="controls" controlsList="nodownload">
                        <source src={{src}} type="audio/mp3">
                    </audio>
                </div>
            {{/each}}
</body>
</html>
