<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Songs</h1>
<!--<ul :key="songsList">
    <audio controls>
        <label="{{songsList.title}}"></label>
        <source src={{songsList.src}} type="audio/mp3">
    </audio>
</ul>-->
    <audio controls>
        <source src="/songs/17.mp3" type="audio/mp3">
    </audio>
</body>
</html>
