<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>{{title}}</h1>
<div id="id_20170108">
    <h3>20170108.  html5 audio tag</h3>
    <p>
        video, audio의 download기능을 안보이게 하고 싶다면 <cod>controlsList="nodownload"</cod> 속성을 지정한다.
    </p>
    <hr>
</div>
</body>
</html>
